<div class="container mt-5">
  <div class="jumbotron" style="text-align:center">
    <h1>Tic Tac Toe</h1>
    <hr>
    <%= link_to "Two players!", twoplayers_path, class:'custom-btn btn-5' %>
    <br />
  </div>
</div>
